#Benefits {
    background-color:#F7F8FA;
    display: flex;
    flex-direction: column;
    align-items: center;

    .upper-header {
        display: none;
    }

    .split-container {
        display: flex;
        justify-content: space-around;
        gap: 50px;
    }

    .cont-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .title {
        width: 350px;
        text-align: left;
    }

    .description {
        margin-bottom: 30px;
        color: #56B280;
    }

    ul {
        padding: 0;
        font-size: 20px;
    }

    li {
        text-align: left;
        list-style-type: none;
        align-items: center;
        margin-bottom: 10px;
    }

    .li-cont {
        display: flex;
    }


    .bullet {
        // font-size: 16px;
        position: relative;
        top: 3px;
        margin-right: 10px;
    }
    // li {
    //     text-align: left;
    //     font-size: 18px;
    //     display: flex;
    //     align-items: center;
    //     padding: 0;
    //     }
        
    // ul {
    //     padding-left: 0;
    //     // list-style-type: none;
    //     line-height: 1.8;
    // }

    // .li-tag {
    //     font-weight: bold;
    //     margin: 0 5px;
    //     white-space: pre;
    // }

    .benefits-img {
        max-width: 100%;
    }

    @media (width < 1040px) {
        .split-container {
            flex-direction: column-reverse;
            justify-content: center;
            gap: 0;
        }

        .cont-left {
            display: flex;
            align-items: center;
        }

        .title {
            text-align: center;
        }
        .description {
            margin-bottom: 0;
        }

        .upper-header {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .left-header {
            display: none;
        }
    }

    @media (width < 550px) {
        ul {
            font-size: 16px;
        }
    }
}