#Products {

    .candle-products {
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-content: center;
        gap: 30px;
        margin-top: 50px;
    }

    .btn-more {
        visibility: hidden;
    }

    // .first {
    //     width: fit-content;
    //     height: fit-content;
    //     border-radius: 5px;
    //     box-shadow: 0px 5px 22px 3px rgb(0, 0, 0, 0.08);
    // }

    // .first:hover {
    //     cursor: pointer;
    // }

    // .img-cont {
    //     background-color: #F7F8FA;
    //     display: flex;
    //     justify-content: center;
    //     width: fit-content;
    // }

    // .candle-img {
    //     margin: 20px 80px;
    //     transition: transform .2s;
    // }

    // .first:hover {
    //     .candle-img {
    //         transform: scale(1.1);
    //     }

    //     .prod-title {
    //         text-decoration: underline;
    //     }
    // }

    // .info-cont {
    //     box-sizing: border-box;
    //     margin: 10px 26px;
    // }

    // .prod-title {
    //     text-align: left;
    // }

    // .prod-price {
    //     text-align: end;
    //     color: green
    // }

    @media (width < 1070px){
        .candle-products {
            grid-template-columns: repeat(3, auto);
        }
    }

    @media (width < 800px){
        .candle-products {
            grid-template-columns: repeat(2, auto);
        }
    }

    @media (width < 550px){
        .candle-products {
            grid-template-columns: auto;
        }

        .candle-products > *:nth-child(n+5) {
            display: none;
        }

        .btn-more {
            visibility: visible;
            margin-top: 40px;
        }
    }
}